CompileFlags:
  Add:
    - -I./dh-ext/os/linux/x11/src
    - -I./dh-ext/os/linux/x11/include
    - -isystem./dh-ext/os/linux/x11/lib/deps
    - -I./dh-examples/dh-ext/os/linux/x11/src
    - -I./dh-examples/dh-ext/os/linux/x11/include
    - -isystem./dh-examples/dh-ext/os/linux/x11/lib/deps
