## clang-format configurator v2 https://clang-format-configurator.site/
## see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 0
TabWidth: 4
IndentWidth: 4
IndentExternBlock: NoIndent
IndentGotoLabels: false
ObjCBlockIndentWidth: 4
LambdaBodyIndentation: OuterScope
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 5
InsertNewlineAtEOF: true
# AlignAfterOpenBracket: Align
# AlignAfterOpenBracket: DontAlign
# AlignAfterOpenBracket: AlwaysBreak
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: false
  # Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  # AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: false
  # PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: false
  # Enabled: true
  AcrossEmptyLines: false
  # AcrossComments: true
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: false
  # PadOperators: true
AlignConsecutiveMacros:
  Enabled: false
  # Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  # AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: false
  # PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCaseArrows: false
  AlignCaseColons: false
AlignEscapedNewlines: DontAlign
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true

InsertBraces: false
# InsertBraces: true
BreakAfterAttributes: Leave
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
# Cpp11BracedListStyle: true
Cpp11BracedListStyle: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma

# AlwaysBreakAfterReturnType: All
# ContinuationIndentWidth: 4

PointerAlignment: Left
SortIncludes: Never

# TypeNames:
#   # Inference
#   - var
#   - let
#   - var_
#   - let_
#   - var_const
#   - let_const
#   - var_const_
#   - let_const_
#   - TypeOf
#   - TypeOfUnqual
#   # primitive
#   - bool
#   - u8
#   - u16
#   - u32
#   - u64
#   - usize
#   - i8
#   - i16
#   - i32
#   - i64
#   - isize
#   - f32
#   - f64
#   - Void
#   - $P_const$
#   - $P$
#   - $A$
#   # Raw types
#   - P_const$raw
#   - P$raw
#   - S_const$raw
#   - S$raw
#   - A$raw
#   # Core types
#   - P_const$$
#   - P$$
#   - P_const$
#   - P$
#   - S_const$$
#   - S$$
#   - S_const$
#   - S$
#   - A$$
#   - A$
#   - O$$
#   - O$
#   - E$$
#   - E$
#   - E$Void
#   - E$void
#   # Legacy types
#   - anyptr_const
#   - anyptr

Macros:
  - edittime_only(inner)=[](void) -> (void) inner
  - comptime_only(inner)=[](void) -> (void) inner
  - runtime_only(inner)=[](void) -> (void) inner
  - dev_only(inner)=[](void) -> (void) inner
  - debug_only(inner)=[](void) -> (void) inner
  - release_only(inner)=[](void) -> (void) inner
  - TEST_only(inner)=[](void) -> (void) inner

  - "pp_switch_(Expr)=pp_exec_ignore Expr"
  - "pp_case_(Expr)=pp_exec_ignore Expr"
  - "pp_default_(Expr)=pp_exec_ignore Expr"

  - "T_decl$(Expr)=pp_exec_ignore Expr"
  - "T_impl$(Expr)=pp_exec_ignore Expr"
  - "T_use$(Expr)=pp_exec_ignore Expr"
  - "errset_(Expr)=pp_exec_ignore Expr"
  - "variant_(Expr)=pp_exec_ignore Expr"
  - "chain$(Expr)=pp_exec_ignore Expr"

  - "$P_const$(T)=const T*"
  - "$P$(T)=T*"
  - "$A$(N, T)=T[N]"

  - "P_const$$(T)=P<const T>"
  - "P$$(T)=P<T>"
  - "P_const$(T)=P<const T>"
  - "P$(T)=P<T>"

  - "S_const$$(T)=S<const T>"
  - "S$$(T)=S<T>"
  - "S_const$(T)=S<const T>"
  - "S$(T)=S<T>"

  - "A$$(N, T)=A<N, T>"
  - "A$(N, T)=A<N, T>"

  - "O$$(T)=O<T>"
  - "O$(T)=O<T>"

  - "E$$(T)=E<T>"
  - "E$(T)=E<T>"

  - "as$(T)=(T)"
  - "lit_n$(T)=(T)"
  - "lit$(T_Expr)=(T_Expr)"
  - "make$(T_Expr)=(T_Expr)"
  - "create$(T_Expr)=(T_Expr)"

  - "$attr(Attrs)=Attrs;"
  - $inline=__attribute__(());
  - $inline_always=__attribute__(());
  - $inline_never=__attribute__(());
  - $on_load=__attribute__(());
  - $on_exit=__attribute__(());
  - $keep_symbol=__attribute__(());
  - $maybe_unused=__attribute__(());

  - $static=static
  - $extern=extern
  - "fn_(Expr)=static Expr"
  # - "la_(Expr)=[]Expr"
  - $un_(keyword)=/**/pp_exec_expand
  - $end(keyword)=/**/
  - $unscoped_(keyword)=/**/
  - $unguarded_(keyword)=/**/
  # - "blk_defer={ do"
  # - "blk_deferral=while(false); }"
  # - "blk_defer=("
  # - "blk_deferral=)"

  - "return_(Expr)=return Expr"
  - "return_void(Expr)=return Expr"

  - "return_some(Expr)=return some(Expr)"
  - "return_some_void(Expr)=return some(Expr)"
  - "return_none(Expr)=return Expr"

  - "return_ok(Expr)=return ok(Expr)"
  - "return_ok_void(Expr)=return Expr"
  - "return_err(Expr)=return err(Expr)"

  - "$break_(Expr)=return Expr"
  - "$break_void(Expr)=return Expr"

  - "$break_some(Expr)=return some(Expr)"
  - "$break_some_void(Expr)=return Expr"
  - "$break_none(Expr)=return Expr"

  - "$break_ok(Expr)=return ok(Expr)"
  - "$break_ok_void(Expr)=return Expr"
  - "$break_err(Expr)=return err(Expr)"

  # Control flow
  - "if_(init, cond)=if (init; cond)"
  - "else_(init)=else if (init; true)"
  - "switch_(init_cond)=switch (init_cond)"
  - "while_(init, cond)=while (init; cond)"
  # Optional value
  - "if_some(expr)=if (expr)"
  - "if_some_void(expr)=if (expr)"
  - "else_none=else"
  - "if_none(expr)=if (expr)"
  - "else_some(expr)=else if (expr)"
  - "else_some_void=else"
  # # Error result
  - "if_ok(expr)=if (expr)"
  - "if_ok_void(expr)=if (expr)"
  - "else_err(expr)=else if (expr)"
  - "if_err(expr)=if (expr)"
  - "else_ok(expr)=else if (expr)"
  - "else_ok_void=else"

  - "match_(Expr)=switch (expr)"

AttributeMacros:
  - $inline
  - $inline_always
  - $inline_never

  - $on_load
  - $on_exit

  - $keep_symbol
  - $maybe_unused
  - $must_use
  - $must_check
  - $no_return

  - $deprecated
  - $deprecated_msg
  - $deprecated_instead

  - $ignore_void
  - $ignore

  - $nullable
  - $nonnull

  - $fallthrough

WhitespaceSensitiveMacros:
  - pipe
