## clang-format configurator v2 https://clang-format-configurator.site/
## see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
# AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
Cpp11BracedListStyle: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 5
ObjCBlockIndentWidth: 4
PointerAlignment: Left
SortIncludes: Never
Standard: c++20
TabWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
## Before 2024-10-28
# ## clang-format configurator v2 https://clang-format-configurator.site/
# ## see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# ---
# BasedOnStyle: LLVM
# Standard: c++20

# ColumnLimit: 0
# # ColumnLimit: 119 ## codes
# # ColumnLimit: 79  ## annotations
# MaxEmptyLinesToKeep: 5

# ## Indentation settings
# TabWidth: 4
# IndentWidth: 4
# AccessModifierOffset: -4
# # IndentPPDirectives: AfterHash
# # PPIndentWidth: 2
# ObjCBlockIndentWidth: 4

# ## Alignment and breaking options
# # AlignAfterOpenBracket: DontAlign
# AlignAfterOpenBracket: BlockIndent
# AlignOperands: AlignAfterOperator
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
# AlignTrailingComments: false
# AlignConsecutiveMacros:
#   Enabled: true
# AlignEscapedNewlines: Left

# AllowShortBlocksOnASingleLine: Always
# AllowShortFunctionsOnASingleLine: All
# AllowShortIfStatementsOnASingleLine: Always
# AllowShortLoopsOnASingleLine: true

# ## Allow all elements on separate lines
# AllowAllArgumentsOnNextLine: true
# AllowAllParametersOfDeclarationOnNextLine: true

# ## Disable bin packing to ensure each parameter is on a new line
# BinPackArguments: false
# BinPackParameters: false

# ## Break before braces and other style options
# BreakBeforeBinaryOperators: None
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterFunction: false
#   SplitEmptyFunction: false
# BreakConstructorInitializers: BeforeComma
# ConstructorInitializerAllOnOneLineOrOnePerLine: false
# Cpp11BracedListStyle: false

# ## Insert braces and new lines
# InsertBraces: true
# InsertNewlineAtEOF: true
# PointerAlignment: Left

# ## Specific settings for function calls and declarations
# BreakAfterJavaFieldAnnotations: false
# ExperimentalAutoDetectBinPacking: false

# Macro handling configurations

TypeNames:
  # Inference
  - let
  - var
  - TypeOf
  - TypeUnqualOf
  # primitive
  - u8
  - u16
  - u32
  - u64
  - usize
  - i8
  - i16
  - i32
  - i64
  - isize
  - f32
  - f64
  - bool
  - char
  - rawptr_const$
  - rawptr$
  - anyptr_const
  - anyptr
  - AnyType
  - Void
  # Pointer
  - Ptr_const$
  - Ptr$
  - Ptr_const$$
  - Ptr$$
  # Slice
  - SliZ_const$
  - SliZ$
  - SliZ_const$$
  - SliZ$$
  - SliS_const$
  - SliS$
  - SliS_const$$
  - SliS$$
  - Sli_const$
  - Sli$
  - Sli_const$$
  - Sli$$
  # Array
  - Arr_const$
  - Arr$
  - Arr_const$$
  - Arr$$
  # Optional value
  - Opt$
  - Opt$$
  # Error result
  - Err$
  - Err$$
  - Err$Void
  - Err$void
  # Atomic
  - atomic_Value$
  - atomic_Value$$

Macros:
  # Optional value
  - "if_some(_,_)=if (_)"
  - "if_none(_)=if (_)"
  - "else_none=else"
  - "else_some(_)=else if (_)"
  # Error result
  - "if_err(_,_)=if (_)"
  - "if_ok(_,_)=if (_)"
  - "if_void(_)=if (_)"
  - "else_ok(_)=else if (_)"
  - "else_void=else"
  - "else_err(_)=else if (_)"
  # Scope
  - scope_returnReserved=/**/ # scope_reserveReturn
  - block_deferral=/**/ # defer_block
  - ext_unscoped=/**/ # fn_ext_scope, ext_scope
  - TEST_unscoped=/**/ # fn_TEST_scope, TEST_scope
  # Eval
  - "eval_(_)=({ _; })"
  - "eval$(T,_)=(T)({ _; })"
  - "eval_return_(_)=return _"
  - "asg_eval(_)=({ _; })"
  # Match
  - "match_(expr)=switch (expr)"
  - "pattern_(tag,capture)=case tag:"
  - "fallback_(_)=default:"

IfMacros:

ForEachMacros:
  - pp_foreach
  - for_slice
  - for_slice_indexed
  - for_slice_rev
  - for_slice_rev_indexed
  - for_array
  - for_array_indexed
  - for_array_rev
  - for_array_rev_indexed

AttributeMacros:
  - extern
  - pvt
  - $on_load
  - $on_exit
  - extern_inline
  - static_inline
  - force_inline
  - $nullable
  - $nonnull
  - $must_check
  - $no_return

StatementAttributeLikeMacros:
  - unused
  - used
  - $ignore
  - eval
  - eval_return
  - type$
  - make$
  - create$
  - initial
  - cleared
  - unwrap
  - orelse
  - try_
  - catch_
  - catch_from

WhitespaceSensitiveMacros:
  - with_
  - let_
  - var_
  - fn_
  - fn_ext_scope
  - config_ErrSet
  - return_err
  - return_ok
  - try_
  - catch_
  - catch_from
  - return_some
  - return_none
  - unwrap
  - orelse
  - config_UnionEnum
  - config_UnionEnumAsField
  - tagUnion
  - tagUnion$
  - toTagUnion
  - match_
  - meta_refPtr
  - meta_refSli
  - meta_refPtr_const
  - meta_refSli_const
  - meta_castPtr$
  - meta_castSli$
  - meta_cast$
  - meta_ptrToAny
  - meta_sliToAny
  # - type$
  # - make$
  # - create$
  # - initial
  # - cleared
