## clang-format configurator v2 https://clang-format-configurator.site/
## see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: LLVM
# Language: Cpp
Standard: c++20
ColumnLimit: 0
TabWidth: 4
IndentWidth: 4
IndentExternBlock: NoIndent
IndentGotoLabels: false
ObjCBlockIndentWidth: 4
LambdaBodyIndentation: OuterScope
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 5
InsertNewlineAtEOF: true
# AlignAfterOpenBracket: Align
# AlignAfterOpenBracket: DontAlign
# AlignAfterOpenBracket: AlwaysBreak
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCaseArrows: false
  AlignCaseColons: false
AlignEscapedNewlines: DontAlign
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true

InsertBraces: true
BreakAfterAttributes: Leave
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
Cpp11BracedListStyle: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma

# AlwaysBreakAfterReturnType: All
# ContinuationIndentWidth: 4

PointerAlignment: Left
SortIncludes: Never

TypeNames:
  # Inference
  - var
  - let
  - var_
  - let_
  - var_const
  - let_const
  - var_const_
  - let_const_
  - TypeOf
  - TypeOfUnqual
  # primitive
  - bool
  - u8
  - u16
  - u32
  - u64
  - usize
  - i8
  - i16
  - i32
  - i64
  - isize
  - f32
  - f64
  - Void
  - anyptr_const
  - anyptr
  - $P_const$
  # - $P$
  # - $A$
  # Raw types
  - P_const$raw
  - P$raw
  - S_const$raw
  - S$raw
  - A$raw
  # Core types
  - P_const$$
  # - P$$
  - P_const$
  # - P$
  - S_const$$
  # - S$$
  - S_const$
  # - S$
  # - A$$
  # - A$
  # - O$$
  # - O$
  # - E$$
  # - E$
  - E$Void
  - E$void
  # Legacy types
  # Pointer
  - Ptr_const$$
  - Ptr$$
  - Ptr_const$
  - Ptr$
  # Slice
  - Sli_const$$
  - Sli$$
  - Sli_const$
  - Sli$
  # Array
  - Arr$$
  - Arr$
  # Optional value
  - Opt$$
  - Opt$
  # Error result
  - Err$$
  - Err$
  - Err$Void
  - Err$void
  # Atomic
  - atomic_Value$
  - atomic_Value$$
Macros:
  - "$P$(T)=$P$<T>"
  - "$A$(N,T)=$A$<N,T*>"
  - "P$$(T)=P$$<T>"
  - "P$(T)=P$<T>"
  - "S$$(T)=S$$<T>"
  - "S$(T)=S$<T>"
  - "A$$(N,T)=A$$<N,T*>"
  - "A$(N,T)=A$<N,T*>"
  - "O$$(T)=O$$<T>"
  - "O$(T)=O$<T>"
  - "E$$(T)=E$$<T>"
  - "E$(T)=E$<T>"
  - "$static=$static"
  - "$extern=$extern"
  # - "some(_)=_"
  # - "none()={}"
  # - "unwrap(_)=_"
  # - "try_(expr)=try_(expr)"
  # Control flow
  - "if_(init, cond)=if (init; cond)"
  - "else_(init)=else if (init; true)"
  - "switch_(init, cond)=switch (init; cond)"
  - "while_(init, cond)=while (init; cond)"
  # Optional value
  - "if_some(expr, capture)=if (capture)"
  - "if_none(expr)=if ()"
  - "else_none=else"
  - "else_some(expr)=else if ()"
  # # Error result
  # - "if_err(_,_)=if (_)"
  # - "if_ok(_,_)=if (_)"
  # - "if_void(_)=if (_)"
  # - "else_ok(_)=else if (_)"
  # - "else_void=else"
  # - "else_err(_)=else if (_)"
  # Union enum
  # - tagUnion(tag,expr)=/**/
  # - tagUnion$(T,tag,expr)=/**/
  # - toTagUnion(addr,tag,expr)=/**/
  # Match
  # - "match_(expr)=switch (expr)"
  # - "pattern_(tag, capture)=case tag:"
  # - "fallback_(_)=default:"
  # Eval
  # - "eval_(_)=({ _; })"
  # - "eval_(T,_)=(T)({ _; })"
  # - "eval_return_(_)=return _"
  # - "asg_eval(_)=({ _; })"
  # # Scope
  - $block_guard=/**/
  - $block_unguarded=/**/
  - "block_defer=/*do { /**/ } while (false)*/"
  - "block_deferral=/**/"
  - "defer_break=goto __step_deferred"
  # - "expr_(keyword)=if (true) {} keyword"
  # - "expr_(Expr)=({"
  # - "$unscoped_expr=})"
  # - "expr_else=else pp_expand"
  - "pp_if_(Cond)=pp_expand"
  - "pp_than_(Expr)=Expr"
  - "pp_else_(Expr)=Expr"
  - "fn_(Expr)=;pp_expand Expr"
  - "la_(Expr)=;pp_expand Expr"
  - "eval_=la_((void)(void))"
  - "expr_(Expr)=Expr"
  - $un_(keyword)=/**/pp_expand
  - $unscoped_(keyword)=/**/
  - $unguarded_(keyword)=/**/
  - $unscoped_fn=/**/
  - $unguarded_fn=/**/
  - $unscoped_TEST_fn=/**/
  - $unguarded_TEST_fn=/**/
  - $unscoped_Thrd_fn=/**/
  - $unguarded_Thrd_fn=/**/
  - $unscoped_async_fn=/**/
  - $unguarded_async_fn=/**/
  - $unscoped_la=/**/
  - $unguarded_la=/**/
  - $unscoped_eval=/**/
  - $unguarded_eval=/**/
  - $unscoped_expr=/**/
  - $unguarded_expr=/**/

ForEachMacros:
  - pp_foreach
  - for_slice
  - for_slice_indexed
  - for_slice_rev
  - for_slice_rev_indexed
  - for_array
  - for_array_indexed
  - for_array_rev
  - for_array_rev_indexed
AttributeMacros:
  - $static
  - $extern

  - $inline
  - $inline_always
  - $inline_never

  - $on_load
  - $on_exit

  - $must_check
  - $must_use
  - $maybe_unused
  - $no_return

  - $ignore_void
  - $ignore
  - let_ignore

  - $deprecated
  - $deprecated_msg
  - $deprecated_instead

  - $nullable
  - $nonnull
StatementAttributeLikeMacros:
  - $ignore
  - $ignore_void
  - eval_return
  - type$
  - make$
  - create$
  - initial
  - cleared
  # - unwrap
  # - orelse
  # - try_
  # - catch_
  # - catch_from
WhitespaceSensitiveMacros:
  # - return_
  - return_void
  - return_some
  - return_none
  - return_ok
  - return_err
  - pipe
  - config_ErrSet
  - config_UnionEnum
  - config_UnionEnumAsField
  # - fn_
  # - fn_scope
  # - fn_scope_ext
  # - with_
  # - try_
  # - catch_
  # - catch_from
  # - unwrap
  # - orelse
  # - meta_refPtr
  # - meta_refSli
  # - meta_refPtr_const
  # - meta_refSli_const
  # - meta_castPtr$
  # - meta_castSli$
  # - meta_cast$
  # - meta_ptrToAny
  # - meta_sliToAny
  # - make$
  # - create$
