#========== Workspace/Project Root (Global) ===================================
---
Index:
  Background: Build
  StandardLibrary: true
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  ClangTidy:
    FastCheckFilter: Strict
    Add:
      - clang-analyzer-*
      - bugprone-*
      - cert-*
      - llvm-*
      # - llvmlibc-*
      - portability-*
      - performance-*
      - concurrency-*
      - readability-*
      - misc-*
      - cppcoreguidelines-*
      - hicpp-*
    Remove:
      - bugprone-assignment-in-if-condition
      - bugprone-easily-swappable-parameters
      - bugprone-reserved-identifier
      - bugprone-signed-char-misuse
      - bugprone-suspicious-include
      - cert-dcl37-c
      - cert-dcl51-cpp
      - llvm-include-order
      - readability-avoid-const-params-in-decls
      - readability-avoid-nested-conditional-operator
      - readability-braces-around-statements
      - readability-function-cognitive-complexity
      - readability-function-size
      - readability-identifier-length
      - readability-implicit-bool-conversion
      - readability-magic-numbers
      - readability-math-missing-parentheses
      - readability-named-parameter
      - readability-uppercase-literal-suffix
      # - readability-use-concise-preprocessor-directives
      - misc-misplaced-const
      - misc-non-private-member-variables-in-classes
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-avoid-non-const-global-variables
      - cppcoreguidelines-macro-to-enum
      - cppcoreguidelines-macro-usage
      - hicpp-braces-around-statements
      - hicpp-function-size
      - hicpp-signed-bitwise
      - hicpp-uppercase-literal-suffix
Completion:
  AllScopes: true
  CodePatterns: All
  ArgumentLists: FullPlaceholders
  MacroFilter: ExactPrefix
  # HeaderInsertion: IWYU
  HeaderInsertion: Never
InlayHints:
  Enabled: true
  ParameterNames: true
  DefaultArguments: false
  DeducedTypes: true
  Designators: true
  BlockEnd: false
  TypeNameLimit: 24
Hover:
  ShowAKA: true
  # MacroContentsLimit: 2048
  MacroContentsLimit: 128
Documentation:
  CommentFormat: Doxygen
Style:
  QuotedHeaders: ["src/.*", "include/.*"]
  AngledHeaders: ["lib/deps/.*"]
#========== Excluded Paths ====================================================
---
If:
  PathMatch:
    # Hidden paths
    - (^|.*/)\.[^/]+(/.*)?
    # Build and cache output
    - (^|.*/)[Bb]uilds?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Cc]aches?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]mps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]emps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Test doubles and placeholders
    - (^|.*/)[Mm]ocks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ff]akes?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Dd]umm(ys?|ies)([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]tubs?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]hims?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Drafts and backups
    - (^|.*/)[Dd]rafts?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]aks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]ackups?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Aa]rchives?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
CompileFlags:
  Add: [-w, -Xclang, -skip-function-bodies] # Inhibit all warnings
#========== Local Vendored Dependencies =======================================
---
If:
  PathMatch: [(^|.*/)lib/deps(/.*)?]
Diagnostics:
  Suppress: "*"
CompileFlags:
  Add: [-w, -Xclang, -skip-function-bodies] # Inhibit all warnings
#========== C Sources =========================================================
---
If:
  PathMatch: [.*\.c, .*\.h]
  PathExclude:
    # Hidden paths
    - (^|.*/)\.[^/]+(/.*)?
    # Build and cache output
    - (^|.*/)[Bb]uilds?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Cc]aches?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]mps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]emps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Test doubles and placeholders
    - (^|.*/)[Mm]ocks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ff]akes?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Dd]umm(ys?|ies)([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]tubs?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]hims?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Drafts and backups
    - (^|.*/)[Dd]rafts?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]aks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]ackups?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Aa]rchives?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Local vendored dependencies
    - (^|.*/)lib/deps(/.*)?
CompileFlags:
  Compiler: clang
  Add:
    - -xc
    - -std=gnu17
    # [Relative Paths] use relative paths based on the project root
    # This configuration file (.clangd) is the reference point.
    # - -I./src
    - -I./include
    - -isystem./lib/deps
    - -isystem./dh/include
    - -isystem./dh/lib/deps
    # [Diagnostic: Analysis Only]
    - -DANALYSIS
    - -Wno-undefined-internal
    # [Diagnostic: Common]
    - -Werror=all
    - -Werror=extra
    # [Diagnostic: Explicit Type Safety]
    - -Werror=conversion # Implicit data loss
    - -Werror=sign-conversion # Sign mix
    # - -Werror=double-promotion # `float` implicitly promoted to `double`
    - -Wfloat-conversion # Floating-point <-> Integer
    # - -Wfloat-equal # `==` `!=` directly compare warning
    # [Diagnostic: Format String Safety]
    - -Wformat=2 # strict format checking
    # [Diagnostic: Pointer & Cast Safety]
    - -Wpointer-arith # `void*` arithmetic etc. dangerous operations
    - -Wnull-dereference # `null` dereference static detection
    - -Wwrite-strings # String literal -> `const char*`
    - -Werror=cast-align # Alignment violation casting
    - -Werror=cast-qual # `const` force removal casting
    - -Wbad-function-cast # (C Only) function return value wrong casting
    # [Diagnostic: Declaration & Definition]
    - -Werror=strict-prototypes # (C Only) function declaration with `void` must be explicit
    - -Werror=missing-prototypes # global function header declaration must be explicit
    - -Werror=missing-variable-declarations # global variable declaration must be explicit
    - -Werror=missing-field-initializers # struct field initialization must be explicit
    # - -Wshadow # variable shadowing detection
    # - -Wundef # `#if` undefined macro usage forbidden
    # [Diagnostic: Memory Safety]
    - -Werror=uninitialized # uninitialized variable usage
    # - -Wconditional-uninitialized # conditional uninitialized
    # - -Wvla # variable length array forbidden (runtime-sized array)
    - -Werror=div-by-zero # division by zero
    # [Diagnostic: Control Flow]
    - -Wframe-larger-than=4096 # (Compile-time only) stack frame size limit
    - -Winfinite-recursion # infinite recursion detection
    - -Wloop-analysis # loop logic error
    - -Wswitch-enum # enum switch completeness (default included warning, `-Wno-switch-enum` to disable)
    # - -Wcomma # comma operator misuse
    # [Diagnostic: Thread Safety]
    # - -Wthread-safety # (Clang only) thread safety annotation analysis
    # [Compatibility]
    - -fgnu-keywords # Enable GCC Compatibility
    - -fms-extensions # Windows Compatibility (Declspec, etc.)
    - -Wno-microsoft-anon-tag # Microsoft anonymous tag warning (default excluded warning, `-Wmicrosoft-anon-tag` to enable)
    - -funsigned-char # Prevent char sign issues in cross-platform
#========== C++ Sources =======================================================
---
If:
  PathMatch: [.*\.cc, .*\.cxx, .*\.cpp, .*\.hh, .*\.hxx, .*\.hpp]
  PathExclude:
    # Hidden paths
    - (^|.*/)\.[^/]+(/.*)?
    # Build and cache output
    - (^|.*/)[Bb]uilds?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Cc]aches?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]mps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]emps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Test doubles and placeholders
    - (^|.*/)[Mm]ocks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ff]akes?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Dd]umm(ys?|ies)([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]tubs?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]hims?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Drafts and backups
    - (^|.*/)[Dd]rafts?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]aks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]ackups?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Aa]rchives?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Local vendored dependencies
    - (^|.*/)lib/deps(/.*)?
CompileFlags:
  Compiler: clang++
  Add:
    - -xc++
    - -std=gnu++20
    # [Relative Paths]
    # - -I./src
    - -I./include
    - -isystem./lib/deps
    - -isystem./dh/include
    - -isystem./dh/lib/deps
    # [Diagnostic: Analysis Only]
    - -DANALYSIS
    - -Wno-undefined-internal
    # [Diagnostic: Common]
    - -Werror=all
    - -Werror=extra
    # [Diagnostic: Explicit Type Safety]
    - -Werror=conversion
    - -Werror=sign-conversion
    # - -Werror=double-promotion
    - -Wfloat-conversion
    # - -Wfloat-equal
    # [Diagnostic: Format String Safety]
    - -Wformat=2
    # [Diagnostic: Pointer & Cast Safety]
    - -Wpointer-arith
    - -Wnull-dereference
    - -Wwrite-strings
    - -Werror=cast-align
    - -Werror=cast-qual
    # - -Wbad-function-cast # (C Only)
    # [Diagnostic: Declaration & Definition]
    # - -Werror=strict-prototypes # (C Only)
    - -Werror=missing-prototypes
    - -Werror=missing-variable-declarations
    - -Werror=missing-field-initializers
    # - -Wshadow
    # - -Wundef
    # [Diagnostic: Memory Safety]
    - -Werror=uninitialized
    # - -Wconditional-uninitialized
    # - -Wvla
    - -Werror=div-by-zero
    # [Diagnostic: Control Flow]
    - -Wframe-larger-than=4096 # (Compile-time only)
    - -Winfinite-recursion
    - -Wloop-analysis
    - -Wswitch-enum
    # - -Wcomma
    # [Diagnostic: Thread Safety]
    # - -Wthread-safety # (Clang only)
    # Compatibility
    - -fgnu-keywords
    - -fms-extensions
    - -Wno-microsoft-anon-tag
    - -funsigned-char
#========== Headers ===========================================================
---
If:
  PathMatch: [.*\.h, .*\.hh, .*\.hxx, .*\.hpp]
  PathExclude:
    # Hidden paths
    - (^|.*/)\.[^/]+(/.*)?
    # Build and cache output
    - (^|.*/)[Bb]uilds?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Cc]aches?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]mps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Tt]emps?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Test doubles and placeholders
    - (^|.*/)[Mm]ocks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ff]akes?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Dd]umm(ys?|ies)([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]tubs?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Ss]hims?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Drafts and backups
    - (^|.*/)[Dd]rafts?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]aks?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Bb]ackups?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    - (^|.*/)[Aa]rchives?([0-9]+|[_-][0-9A-Za-z]+)?(/.*|$)
    # Local vendored dependencies
    - (^|.*/)lib/deps(/.*)?
CompileFlags:
  Add:
    - -Wno-unused-const-variable
    - -Wno-unused-variable
    - -Wno-unused-function
#========== Sub-Workspace (Separated file) ====================================
# ---
# CompileFlags:
#   Add:
#     # [Relative Paths] use relative paths based on the project root
#     # This configuration file (.clangd) is the reference point.
#     - -isystem./../dasae-headers/dh/include
#     - -isystem./../dasae-headers/dh/include/lib/deps
#========== Sub-Project (Separated file) ======================================
# ---
# CompileFlags:
#   Add:
#     # [Relative Paths] use relative paths based on the project root
#     # This configuration file (.clangd) is the reference point.
#     - -I./include
#     - -isystem./lib/deps
