CompileFlags:
  Compiler: clang
  Add:
    - -xc
    - -std=c17
    - -Wall
    - -Wextra
    - -Werror
    - -funsigned-char
    - -fblocks
    - -fms-extensions
    - -Ic:/dasae/dev/dasae-headers/dh/include
    - -Ic:/dasae/dev/dasae-headers/dh/libs/BlocksRuntime/include
    - -Ic:/dasae/dev/dasae-headers/dh-examples/Grid/src
    - -Ic:/dasae/dev/dasae-headers/dh-examples/Grid/include
    - -Ic:/dasae/dev/dasae-headers/dh-examples/Grid/lib/deps
    - -I/mnt/c/dasae/dev/dasae-headers/dh/include
    - -I/mnt/c/dasae/dev/dasae-headers/dh/libs/BlocksRuntime/include
    - -I/mnt/c/dasae/dev/dasae-headers/dh-examples/Grid/src
    - -I/mnt/c/dasae/dev/dasae-headers/dh-examples/Grid/include
    - -I/mnt/c/dasae/dev/dasae-headers/dh-examples/Grid/lib/deps
