CompileFlags:
  Add:
    - -I./B-stub/src
    - -I./B-stub/include
    - -isystem./B-stub/lib/deps
    - -I./test-pkg/B-stub/src
    - -I./test-pkg/B-stub/include
    - -isystem./test-pkg/B-stub/lib/deps
