CompileFlags:
  Compiler: clang
  Add:
    - -xc
    - -std=c17
    - -Wall
    - -Wextra
    - -Werror
    - -funsigned-char
    - -fblocks
    - -Ic:/dasae/dev/dasae-headers/dh/include
    - -Ic:/dasae/dev/dasae-headers/dh/libs/BlocksRuntime/include
    - -Ic:/dasae/dev/dasae-headers/test-pkg/extra/foo/src
    - -Ic:/dasae/dev/dasae-headers/test-pkg/extra/foo/include
    - -Ic:/dasae/dev/dasae-headers/test-pkg/extra/foo/lib/deps
