# C++ Config
If:
  PathMatch: .*\.(cpp|cc|cxx|hpp|hh|hxx)$
  PathExclude:
    - ".*/tests?/.*\\.c$"
CompileFlags:
  Compiler: clang++
  Add:
    - -xc++
    - -std=c++17
    - -Wall
    - -Wextra
    - -Werror
    - -fblocks
    - -I./include
    - -IC:/dasae-storage/dev/source/c-cpp-workspace/projects/dasae-src/dasae-headers/dh
    - -IC:/dasae-storage/dev/source/c-cpp-workspace/projects/dasae-src/dasae-headers/dh/include
    - -IC:/dasae-storage/dev/source/c-cpp-workspace/projects/dasae-src/dasae-headers/dh-examples
    - -DCLANGD_CPP_MODE=1

---
# Suppress diagnostics for paths containing '/include/c++/' or '/include/c/', which are typically the locations of system headers.
If:
  PathMatch: .*\.h$
  PathExclude:
    - ".*/c\\+\\+/.*"
    - ".*/cpp/.*"
CompileFlags:
  Add:
    - -Wno-unused-function
    - -Wno-unused-variable
    - -Wno-unused-const-variable

---
############ Global ############
Diagnostics:
  Suppress:
  UnusedIncludes: Strict

Index:
  StandardLibrary: No
  Background: Skip

InlayHints:
  Enabled: true
  TypeNameLimit: 24
  DeducedTypes: true
  ParameterNames: true
  Designators: true
  BlockEnd: false

Hover:
  ShowAKA: true
################################
